apiVersion: apps/v1
kind: Deployment
metadata:
  name: algohive-db
  namespace: algohive
spec:
  replicas: 1
  selector:
    matchLabels:
      app: algohive-db
  template:
    metadata:
      labels:
        app: algohive-db
    spec:
      containers:
        - name: postgres
          image: postgres:17-alpine
          livenessProbe:
            exec:
              command: ["pg_isready", "-U", "$(POSTGRES_USER)"]
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "$(POSTGRES_USER)"]
            initialDelaySeconds: 5
            periodSeconds: 10
          ports:
            - containerPort: 5432
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          envFrom:
            - configMapRef:
                name: algohive-config
            - secretRef:
                name: algohive-secret
          volumeMounts:
            - name: db-storage
              mountPath: /var/lib/postgresql/data
            - name: timezone
              mountPath: /etc/localtime
              readOnly: true
      volumes:
        - name: db-storage
          persistentVolumeClaim:
            claimName: db-data-pvc
        - name: timezone
          hostPath:
            path: /etc/localtime